@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --text: #181305;
      --background: #fdfcf7;
      --primary: #d6ad37;
      --secondary: #c0e685;
      --accent: #94df60;
    }
    .dark {
      --text: #faf4e6;
      --background: #080702;
      --primary: #c79f29;
      --secondary: #547b19;
      --accent: #549d20;
    }
}
  